name: Deploy Django App to VDS

on:
  push:
    branches:
      - main  # Деплой при пуше в ветку main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Шаг 1: Проверка кода
      - name: Check out code
        uses: actions/checkout@v3

      # Шаг 2: Настройка Docker Buildx
      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      # Шаг 3: Сборка Docker-образа
      - name: Build Docker image
        run: |
          docker build -t auth_service .

      # Шаг 4: Подключение к серверу и деплой
      - name: Deploy to server
        env:
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_PORT: ${{ secrets.DB_PORT }}
          DJANGO_SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
          DJANGO_DEBUG: ${{ secrets.DJANGO_DEBUG }}
          ZALUPA: ${{ secrets.ZALUPA }}
        run: |
          # Установка sshpass для автоматизации SSH с паролем
          sudo apt-get update && sudo apt-get install -y sshpass

          # Выполнение команд на удаленном сервере через SSH
          sshpass -p "${{ secrets.VDS_PASSWORD }}" ssh -o StrictHostKeyChecking=no ${{ secrets.VDS_USER }}@${{ secrets.VDS_IP }} "
            cd /root/apps/auth_service &&
            docker-compose down &&
            docker-compose up --build -d
          "
